.nav-header {
    -fx-background-color: linear-gradient(to bottom right, #FFF5E0, #8DECB4);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 0,0,0,0.5);
}

.nav-form {
    -fx-background-color: linear-gradient(to bottom right, #8DECB4, #41B06E);
}

.nav-btn {
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: 1px;
    -fx-cursor: hand;
    -fx-font-size: 14px;
}