.root{
    --dark-blue: #141E46;
    --dark-green: #41B06E;
    --light-green: #8DECB4;
    --skin-yellow: #FFF5E0;
}


.sign-in_btn{
    -fx-border-radius: 30px;
    -fx-background-color: var(--dark-blue);
    -fx-text-fill: white;
}
